extends base

block content
    header.header.header--bg-about
        .header__logo-box
            a(href="/" target="")
                img.header__logo(src="img/logo_white_doll.png" alt="logo")

        .section-about-us
            .text-box
                .u-center-text.u-margin-bottom-big
                    h2.heading-secondary.heading-secondary--dark.color-white  Why We're Here

                .row
                    .col-1-of-2
                        p.paragraph.color-white  
                            |Dynamic Object Language Labs, Inc. was established in 1993 to promote the synergistic 
                            |combination of Dynamic and Open Languages, Object Oriented Programming, and Artificial Intelligence.

                        p.paragraph.color-white  
                            |We conduct advanced research and development aimed at providing a brighter and safer 
                            |future through advances in computer based technology and its application to real world problems. 
                            |DOLL’s central theme is to approach complex problems from a domain specific language perspective.

                    .col-1-of-2.u-margin-bottom-big 
                        p.paragraph.color-white  
                            |Our research interests include Advanced Languages, Artificial Intelligence, Computer Vision, Planning, 
                            |Cyber Security, and Expert Systems. DOLL has a long history of exciting work in Self Adaptive Software, 
                            |a software architecture concept that DOLL helped introduce in the 1990's.

                        p.paragraph.color-white  
                            |Self Adaptive Software has been used to build robust vision systems, intelligent spaces/rooms, 
                            |intelligent control systems, and cyber security systems. DOLL is currently performing on multiple 
                            |projects in the area of cyber security, including self adaptive and game theoretic approaches.

    section.section-tours.section-members
        .u-center-text.u-margin-bottom-big
            h2.heading-secondary Meet the team

        - for (var i = 0, row = people.length/3; i < row; i++) {
            .row
                - if (3 * i < people.length)
                    .col-1-of-3
                        .card
                            .card__side.card__side--front
                                if (people[3 * i].image.length === 0)
                                    .card__picture.card__picture--empty 
                                else 
                                    .card__picture
                                        img.card__picture--general(src=`https://drive.google.com/thumbnail?id=${people[3 * i].image[0]}` alt=`${people[3 * i].name}`)
                                h4.card__heading
                                    span.card__heading-span #{people[3 * i].name}
                                .card__title
                                    <ul> <li>#{people[3 * i].jobTitle}</li> </ul>
                            .card__side.card__side--back.card__side--back-1
                                .card__cta 
                                    .card__details
                                        - const paragraph = people[3 * i].description.split('\n')
                                        for p in paragraph
                                            if p.includes('<a>')
                                                - const a = p.split('<a>');
                                                    p.card__description #{a[0]} 
                                                        a(href=`${a[1]}`) #{a[2]}
                                                        span.card__description #{a[3]} 
                                                <br>
                                            else 
                                                p.card__description= p
                                                <br>


                - if (3 * i + 1 < people.length)
                    .col-1-of-3
                        .card
                            .card__side.card__side--front
                                if (people[3 * i + 1].image.length === 0)
                                    .card__picture.card__picture--empty 
                                else
                                    .card__picture
                                        img.card__picture--general(src=`https://drive.google.com/thumbnail?id=${people[3 * i + 1].image[0]}` alt=`${people[i].name}`)
                                h4.card__heading
                                    span.card__heading-span #{people[3 * i + 1].name}
                                .card__title
                                    <ul><li>#{people[3 * i + 1].jobTitle}</li></ul>
                            .card__side.card__side--back.card__side--back-1
                                .card__cta 
                                    .card__details
                                        - const paragraph = people[3 * i + 1].description.split('\n')
                                        for p in paragraph
                                            if p.includes('<a>')
                                                - const a = p.split('<a>');
                                                    p.card__description #{a[0]} 
                                                        a(href=`${a[1]}`) #{a[2]}
                                                        span.card__description #{a[3]} 
                                                <br>
                                            else 
                                                p.card__description= p
                                                <br>

                - if (3 * i + 2 < people.length)
                    .col-1-of-3
                        .card
                            .card__side.card__side--front
                                if (people[3 * i + 2].image.length === 0)
                                    .card__picture.card__picture--empty 
                                else
                                    .card__picture 
                                        img.card__picture--general(src=`https://drive.google.com/thumbnail?id=${people[3 * i + 2].image[0]}` alt=`${people[i].name}`)
                                h4.card__heading
                                    span.card__heading-span #{people[3 * i + 2].name}
                                .card__title
                                    <ul><li>#{people[3 * i + 2].jobTitle}</li></ul>
                            .card__side.card__side--back.card__side--back-1
                                .card__cta 
                                    .card__details
                                        - const paragraph = people[3 * i + 2].description.split('\n')
                                        for p in paragraph
                                            if p.includes('<a>')
                                                - const a = p.split('<a>');
                                                    p.card__description #{a[0]} 
                                                        a(href=`${a[1]}`) #{a[2]}
                                                        span.card__description #{a[3]} 
                                                <br>
                                            else 
                                                p.card__description= p
                                                <br>
            - }

block footer
    include __footer