extends base

block content
    header.header.header--bg-home
        .header__logo-box
            a(href="/" target="")
                img.header__logo(src="img/logo_white_doll.png" alt="logo")

        .header__text-box
            h1.heading-primary
                <span class="heading-primary--main">DOLL</span>
                <span class="heading-primary--sub">is where technology comes to life. We use Machine Learning to solve real-world problems. </span>

            a.btn.btn--white.btn--animated(href="/#section-about") Discover

    main
        section.section-about#section-about
            .u-center-text.u-margin-bottom-big
                h2.heading-secondary Our solutions
            each solution in solutions
                .row
                    .col-2-of-3
                        h3.heading-tertiary.u-margin-bottom-small #{solution.name}
                        p.paragraph #{solution.shortDescription}
                        a.btn-text(href=`#popup-${solution._id}`) Learn more &rarr;    
                    .col-1-of-3
                        .composition
                            img(src=`https://drive.google.com/thumbnail?id=${solution.image}` alt=`${solution.name}` class="composition__photo composition__photo--p1")
        .section-stories
            .u-center-text.u-margin-bottom-big
                h2.heading-secondary.green Latest Updates from DOLL

            each update in updates 
                .row
                    .story
                        if(update.body === "")
                            .story__text.non-decoration
                                h3.heading-tertiary.u-margin-bottom-small #{update.title}
                                p.feature-box__text
                                    //- em DOLL — #{update.dateCreated}
                                    em DOLL — #{`${update.dateCreated.toLocaleString('en-us', {year: 'numeric'}) * 1}`}
                                p.feature-box__text
                        else
                            figure.story__shape.u-margin-right-small 
                                img.story__img(src="img/News2.jpg" alt="place holder")

                            .story__text.non-decoration
                                h3.heading-tertiary.u-margin-bottom-small #{update.title}
                                p.feature-box__text
                                    //- em DOLL — #{update.dateCreated}
                                    em DOLL — #{`${update.dateCreated.toLocaleString('en-us', {year: 'numeric'}) * 1}`}
                                p.feature-box__text
                                    if (update.body.includes('<a>'))
                                        - const a = update.body.split('<a>')
                                        | #{a[0]}
                                        a(href=`${a[1]}`) #{a[2]}
                                    else 
                                        | #{update.body}

            .u-center-text.u-margin-top-huge
                a.btn-text(href="/newsandprojects#press") Read all news &rarr;


    each solution in solutions
        .popup(id=`popup-${solution._id}`)
            .popup__content.non-decoration
                .popup__right
                    <a href="#section-about" class="popup__close">&times;</a>
                    <h2 class="heading-secondary u-margin-bottom-small">#{solution.name}</h2>
                    //- <h3 class="heading-tertiary u-margin-bottom-small">Dynamic Active Perception approach is used to actively and effectively allocate and focus sensing and action resources.</h3>
                    - const paragraphs = solution.longDescription.split('\n')
                    p.popup__text
                        each p in paragraphs
                            if (p.includes('<a>'))
                                - const a = p.split('<a>')
                                | #{a[0]}
                                a(href=`${a[1]}`) #{a[2]}
                                | <br>
                            else 
                                | #{p}
                                | <br>

block footer
    include __footer
