extends base

block content
    header.header.header--bg-contact
        .header__logo-box
            a(href="/" target="")
                img.header__logo(src="img/logo_white_doll.png" alt="logo")

        .section-future.projects 
            .u-center-text.u-margin-bottom-big
                h2.heading-secondary.heading-secondary--white Projects

            //- Pamela video: https://www.youtube.com/watch?v=A32p24rTe4Y
            - for (var i = 0, row = projects.length/3; i < row; i++) {
                .row
                    - if (3 * i < projects.length)
                        .col-1-of-3
                            .feature-box
                                i.feature-box__icon(class=`icon-${projects[3 * i].icon}`)
                                h3.heading-tertiary.u-margin-bottom-small #{projects[3 * i].name}
                                p.feature-box__text #{projects[3 * i].shortDescription}
                                a.btn-text.u-margin-top-medium(href=`/project/${projects[3 * i].slug}`) Learn more &rarr;
                    - if (3 * i +1 < projects.length)
                        .col-1-of-3
                            .feature-box
                                i.feature-box__icon(class=`icon-${projects[3 * i + 1].icon}`)
                                h3.heading-tertiary.u-margin-bottom-small #{projects[3 * i + 1].name}
                                p.feature-box__text #{projects[3 * i + 1].shortDescription}
                                a.btn-text.u-margin-top-medium(href=`/project/${projects[3 * i + 1].slug}`) Learn more &rarr;
                    - if (3 * i + 2 < projects.length)
                        .col-1-of-3
                            .feature-box
                                i.feature-box__icon(class=`icon-${projects[3 * i + 2].icon}`)
                                h3.heading-tertiary.u-margin-bottom-small #{projects[3 * i + 2].name}
                                p.feature-box__text #{projects[3 * i + 2].shortDescription}
                                a.btn-text.u-margin-top-medium(href=`/project/${projects[3 * i + 2].slug}`) Learn more &rarr;
            - }

            if user
                .row.submitInfo
                    a.btn-text.u-margin-top-medium(href="/input/project")= `Add a new project`.toUpperCase()

        .section-future.news#press
            .u-center-text.u-margin-bottom-medium
                h2.heading-secondary.green Press Release

            each press in posts
                .news-tab
                    a(href=`/post/${press.slug}`)
                        h2 #{press.title}
                        p #{press.description}

            if user
                .row.submitInfo
                    a.btn-text.u-margin-top-medium(href="/input/post")= `Add a new press`.toUpperCase()

        .section-stories#updates
            //- .bg-video
            .u-center-text.u-margin-bottom-big
                h2.heading-secondary.green DOLL's News

            - var i = 0;
            each update in updates
                - i++
                if (i > 5)
                    .row#more
                        .story
                            if (!update.body)
                                .story__text.non-decoration
                                    h3.heading-tertiary.u-margin-bottom-small #{update.title}
                                    p.feature-box__text
                                        em DOLL — #{`${update.dateCreated.toLocaleString('en-us', {year: 'numeric'}) * 1}`}

                                    if user
                                        .crud.submitInfoRight
                                            a.btn-text.u-margin-top-medium.u-margin-small(href=`/input/update-update-${update._id}`)= `Update`.toUpperCase()
                                            a.btn-text.u-margin-top-medium.u-margin-small.delete(href='/abc' id=`update-delete-${update._id}`)= `Delete`.toUpperCase()

                            else if(update.body === "" || update.body.length < 50)
                                .story__text.non-decoration
                                    h3.heading-tertiary.u-margin-bottom-small #{update.title}
                                    p.feature-box__text
                                        em DOLL — #{`${update.dateCreated.toLocaleString('en-us', {year: 'numeric'}) * 1}`}
                                    p.feature-box__text 
                                        != update.body

                                    if user
                                        .crud.submitInfoRight
                                            a.btn-text.u-margin-top-medium.u-margin-small(href=`/input/update-update-${update._id}`)= `Update`.toUpperCase()
                                            a.btn-text.u-margin-top-medium.u-margin-small.delete(href='/abc' id=`update-delete-${update._id}`)= `Delete`.toUpperCase()
                            else
                                figure.story__shape.u-margin-right-small 
                                    img.story__img(src="img/News2.jpg" alt="place holder")

                                .story__text.non-decoration
                                    h3.heading-tertiary.u-margin-bottom-small #{update.title}
                                    p.feature-box__text
                                        em DOLL — #{`${update.dateCreated.toLocaleString('en-us', {year: 'numeric'}) * 1}`}
                                    p.feature-box__text
                                        != update.body
                                    if user
                                        .crud.submitInfoRight
                                            a.btn-text.u-margin-top-medium.u-margin-small(href=`/input/update-update-${update._id}`)= `Update`.toUpperCase()
                                            a.btn-text.u-margin-top-medium.u-margin-small.delete(href='/abc' id=`update-delete-${update._id}`)= `Delete`.toUpperCase()
                else 
                    .row
                        .story
                            if (!update.body)
                                .story__text.non-decoration
                                    h3.heading-tertiary.u-margin-bottom-small #{update.title}
                                    p.feature-box__text
                                        em DOLL — #{`${update.dateCreated.toLocaleString('en-us', {year: 'numeric'}) * 1}`}

                                    if user
                                        .crud.submitInfoRight
                                            a.btn-text.u-margin-top-medium.u-margin-small(href=`/input/update-update-${update._id}`)= `Update`.toUpperCase()
                                            a.btn-text.u-margin-top-medium.u-margin-small.delete(href='/abc' id=`update-delete-${update._id}`)= `Delete`.toUpperCase()


                            else if(update.body === "" || update.body.length < 50)
                                .story__text.non-decoration
                                    h3.heading-tertiary.u-margin-bottom-small #{update.title}
                                    p.feature-box__text
                                        em DOLL — #{`${update.dateCreated.toLocaleString('en-us', {year: 'numeric'}) * 1}`}
                                    p.feature-box__text 
                                        != update.body
                                    if user
                                        .crud.submitInfoRight
                                            a.btn-text.u-margin-top-medium.u-margin-small(href=`/input/update-update-${update._id}`)= `Update`.toUpperCase()
                                            a.btn-text.u-margin-top-medium.u-margin-small.delete(href='/abc' id=`update-delete-${update._id}`)= `Delete`.toUpperCase()
                            else
                                figure.story__shape.u-margin-right-small 
                                    img.story__img(src="img/News2.jpg" alt="place holder")

                                .story__text.non-decoration
                                    h3.heading-tertiary.u-margin-bottom-small #{update.title}
                                    p.feature-box__text
                                        em DOLL — #{`${update.dateCreated.toLocaleString('en-us', {year: 'numeric'}) * 1}`}
                                    p.feature-box__text
                                        != update.body
                                    if user
                                        .crud.submitInfoRight
                                            a.btn-text.u-margin-top-medium.u-margin-small(href=`/input/update-update-${update._id}`)= `Update`.toUpperCase()
                                            a.btn-text.u-margin-top-medium.u-margin-small.delete(href='/abc' id=`update-delete-${update._id}`)= `Delete`.toUpperCase()

            .u-center-text.u-margin-top-huge
                a.btn-text#show(href="#updates") Show more

            if user
                .row.submitInfo
                    a.btn-text.u-margin-top-medium(href="/input/update")= `Add a new DOLL update`.toUpperCase()

block footer
    include __footer


//- Template for news if we have links
//- .row 
//-     .story
//-         a.btn.btn--story(href="/construction") 
//-             figure.story__shape
//-                 img.story__img(src="img/News2.jpg" alt="place holder")
//-                 figcaption.story__caption Read more &rarr;

//-             .story__text
//-                 h3.heading-tertiary.u-margin-bottom-small DOLL/Vanderbilt University wins CASE
//-                 p.feature-box__text
//-                     em DOLL — 2018
//-                 p.feature-box__text
//-                     | DOLL will subcontract to Vanderbilt University to develop DCRYPPS on the
//-                     | DARPA CASE program. DCRYPPS (Deriving Cyber-security Requirements Yielding 
//-                     | Protected Physical Systems) will help automate the design and implementation 
//-                     | of cyber physical systems (CPS) to meet stringent cyber security requirements, 
//-                     | without sacrificing functional performance, maintaining timing and cost constraints.
