
extends base

block content
    header.header.header--bg-post
        .header__logo-box
            a(href="/" target="")
                img.header__logo(src="/img/logo_white_doll.png" alt="logo")
        .header__text-box.u-margin-top-huge
            h1.heading-primary
                if (type === 'post')
                    span.heading-primary--title= title
                    h2.color-white.h2-size By #{author} | #{source}
                    if (dateCreated !== null)
                        h3.color-white.h3-size #{dateCreated.toLocaleString('en-us', {month: 'long', day: 'numeric',year: 'numeric'})}
                    if user
                        .crud.submitInfo
                            a.btn-text.u-margin-top-medium.u-margin-small(href=`/input/post-update-${postId}`)= `Update`.toUpperCase()
                            a.btn-text.u-margin-top-medium.u-margin-small.delete(href='#' id=`post-delete-${postId}`)= `Delete`.toUpperCase()

                else if (type === 'project')
                    span.heading-primary--title= title
                    h2.color-white.h3-size From #{dateCreated.toLocaleString('en-us', {month: 'long', day: 'numeric',year: 'numeric'})} 
                        if (dateEnd !== null)
                            | to #{dateEnd.toLocaleString('en-us', {month: 'long', day: 'numeric',year: 'numeric'})} 
                        else 
                            | to Present     
                    if user
                        .crud.submitInfo
                            a.btn-text.u-margin-top-medium.u-margin-small(href=`/input/project-update-${projectId}`)= `Update`.toUpperCase()
                            a.btn-text.u-margin-top-medium.u-margin-small.delete(href='#' id=`project-delete-${projectId}`)= `Delete`.toUpperCase()

    section.non-decoration
        .row.section-post 
            .col-3-of-4
                .wrapText
                    != body

            .col-1-of-4.related-post
                h2.h2-size Recent news
                each post in allPosts
                    a.block(href=`/post/${post.slug}`)= post.title

                <hr>
                <br>

                h2.h2-size Recent projects
                each project in allProjects
                    a.block(href=`/project/${project.slug}`)= project.name



block footer
    include __footer
